* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}

body {
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
    BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  background-color: #e9ebee;
}

.header {
  display: flex;
  justify-content: center;
  height: 70px;
  background-color: #3b5998;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;

  color: white;
}

.logo {
  display: flex;
}

.register-button {
  margin: 0;
  padding: 0px 15px;
  margin-left: 20px;
  border: 0;
  border-radius: 3px;
  background-color: #42b72a;
  color: #fff;
  cursor: pointer;
}

.join-facebook {
  cursor: pointer;
}

.select {
  width: 0;
  height: 0;
  border-left: 8px solid #3b5998;
  border-right: 8px solid #3b5998;
  border-top: 8px solid #fff;
  border-bottom-width: 0px;
  cursor: pointer;
}

.select:focus {
  width: 0;
  height: 0;
  border-left: 8px solid #3b5998;
  border-right: 8px solid #3b5998;
  border-top: 8px solid #fff;
  border-bottom-width: 0px;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  width: 1000px;
}

.create-homepage {
  margin-top: 30px;
}

.create-homepage-description {
  margin: 10px 0;
}

.projects {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 5px;
  width: 490px;

  background-color: #fff;
}

.project-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.project-figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-figcaption-title {
  margin-top: 50px;
}

.project-figcaption-description {
  text-align: center;
  color: #aaa;
  margin: 20px 0;
}

.project-start {
  border: 1px solid #ccc;
  border-radius: 3px;

  background-color: #eee;
  padding: 5px 10px;
  cursor: pointer;
}

.project-start:focus {
  border: 1px solid #ccc;
}
